* {
    /* border-style:dashed;
    border-width: 1px;
    */
} 

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.mid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.numbers{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}


.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
}

